@import "variables.scss";
@import "mixins.scss";

// Global Components

body {
    overflow-x: hidden;
    @include body-font;
}

.text-primary {
    color: $theme-primary !important;
}

p {
    line-height: 1.75;
}

a {
    color: $theme-primary;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: darken($theme-primary, 10%);
    }
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar

#mainNav {
    background-color: $gray-darker;
    .navbar-toggler {
        border: 0;
        color: white;
        background-color: $theme-primary;
        font-size: 12px;
        text-transform: uppercase;
        @include heading-font;
        padding: 13px;
        right: 0;
    }
    .container {
        padding: 0;
        .navbar-brand {
            color: $theme-primary;
            @include script-font;
            &:hover,
            &:focus,
            &:active,
            &.active {
                color: darken($theme-primary, 10%);
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 90%;
                    padding: 0.75em 0;
                    @include heading-font;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: white;
                    &:hover,
                    &.active {
                        color: $theme-primary;
                    }
                }
            }   
        }
    }
}

@media(min-width:992px) {
    #mainNav {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2.3em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 1.1em 1em !important;
                    &[href="#apply"] {
                        background-color: rgba(237, 29, 49, 0.25);
                        border-radius:8%;
                    }
                    &:hover,
                    &.active {
                        color:white!important;
                        background-color: rgba(237, 29, 49, 0.55);
                        border-radius:8%;
                    }
                }
            }
            .nav-header-contact{
                display: none;
            }
        }
        &.navbar-shrink {
            background-color: $gray-darker;
            padding: 0;
            .navbar-brand {
                padding: 12px 0;
                font-size: 1.25em;
            }
        }
    }
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/home-bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 70px;
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 45px;
            line-height: 50px;
            margin-bottom: 25px;
        }
        .header-contact{
            display:none;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                @include serif-font;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}

@media(min-width:992px) {
    header{
        .intro-text{
            .header-contact{
                display:block;
                position:absolute;
                left:0;
                bottom:7%;
                a {
                    padding:0.5em;
                }             
            }
        }
   } 
}

// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0 80px;
    }
}

// Job Requirements Section

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

// Jobs Section

#jobs {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
                background: fade-out(black, .8);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: $theme-primary;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 25px;
            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                @include serif-font;
                font-style: italic;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

// How to apply section
#apply {
    .service {
        &:hover a {
            text-decoration:none;
        }
    }
    .service-fast {
        background-color: #dff0d8;
        border-color: #d0e9c6;        
    }
    .applicationForm {
        background-color: #dff0d8;
        padding:25px 0;
        & textarea {
            height:9rem;
        }
    }
}

// Application Process

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        background-color: #f1f1f1;
        left: 40px;
        margin-left: -1.5px;
    }
    > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: left;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 100;
            background-color: $theme-primary;
            color: white;
            border-radius: 100%;
            border: 7px solid #f1f1f1;
            text-align: center;
            h4 {
                font-size: 10px;
                margin-top: 12px;
                line-height: 14px;
            }
        }
        &.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
            padding: 0 20px 0 100px;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-heading {
        h4 {
            margin-top: 0;
            color: inherit;
            &.subheading {
                text-transform: none;
            }
        }
    }
    .timeline-body {
        > p,
        > ul {
            margin-bottom: 0;
        }
    }
}

@media(min-width:768px) {
    .timeline {
        &:before {
            left: 50%;
        }
        > li {
            margin-bottom: 100px;
            min-height: 100px;
            .timeline-panel {
                width: 41%;
                float: left;
                padding: 0 20px 20px 30px;
                text-align: right;
            }
            .timeline-image {
                width: 100px;
                height: 100px;
                left: 50%;
                margin-left: -50px;
                h4 {
                    font-size: 13px;
                    margin-top: 16px;
                    line-height: 18px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                float: right;
                text-align: left;
                padding: 0 30px 20px 20px;
            }
        }
    }
}

@media(min-width:992px) {
    .timeline {
        > li {
            min-height: 150px;
            .timeline-panel {
                padding: 0 20px 20px;
            }
            .timeline-image {
                width: 150px;
                height: 150px;
                margin-left: -75px;
                h4 {
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
            }
        }
    }
}

@media(min-width:1200px) {
    .timeline {
        > li {
            min-height: 170px;
            .timeline-panel {
                padding: 0 20px 20px 100px;
            }
            .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;
                h4 {
                    margin-top: 40px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 100px 20px 20px;
            }
        }
    }
}

// Team Section

.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        height: 225px;
        width: 225px;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}

// Apply section

.applyForm {
    textarea {
        height: 7.3em;
    }
}

// Partners Aside

aside.partners {
    img {
        margin: 50px auto;
    }
}

// Contact Section

section#contact {
    background-color: $gray-darker;
    background-image: url('../img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        color: white;
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
    .section-subheading {
        color: white;
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    :-moz-placeholder { /* Firefox 18- */
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    :-ms-input-placeholder {  
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    .text-danger {
        color: $theme-danger;
    }
}

// Footer

footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        font-size: 90%;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        font-size: 90%;
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
}

// Social Buttons

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        max-width: none;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: center;
        .modal-body {
            width:100%;
            padding:0.3125em 0.3125em 2em;
            font: 14px/1.42 'Modena_Regular', Droid, Arial, sans-serif;
            ul li {
            text-align:left;
            padding:0 1%;font-weight:normal;
            font-size:1.2em;
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
                &.jobSubtitle {
                    font-weight: bold;
                    padding:0.3125em;
                    text-align:left;
                    font-style:italic;
                    color:#A3A3A3;
                    border-bottom:1px solid #A3A3A3;
                }
                span {
                    font-weight: bold;
                }
            }
        }
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include serif-font;
            font-style: italic;
            font-size: 16px;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:$gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}

///changeee
.fb-FooterBar{display:none;z-index:999;position:fixed;bottom:0;left:0;right:0;text-align:center;background-color:#f2f2f2;padding:0.625em 0.3125em;}
#mainNav .container .navbar-nav .nav-item .flag {position:relative; top:-2px;}
footer a{
    color:#363636;
}

// Clients Aside

section.clients {
    img {
        margin: 50px auto;
    }
}

 #fountainG{
    position:relative;
    width:108px;
    height:13px;
    margin:15px auto 5px;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:rgb(112,157,235);
    width:13px;
    height:13px;
    animation-name:bounce_fountainG;
        -o-animation-name:bounce_fountainG;
        -ms-animation-name:bounce_fountainG;
        -webkit-animation-name:bounce_fountainG;
        -moz-animation-name:bounce_fountainG;
    animation-duration:0.905s;
        -o-animation-duration:0.905s;
        -ms-animation-duration:0.905s;
        -webkit-animation-duration:0.905s;
        -moz-animation-duration:0.905s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
    transform:scale(.3);
        -o-transform:scale(.3);
        -ms-transform:scale(.3);
        -webkit-transform:scale(.3);
        -moz-transform:scale(.3);
    border-radius:9px;
        -o-border-radius:9px;
        -ms-border-radius:9px;
        -webkit-border-radius:9px;
        -moz-border-radius:9px;
}

#fountainG_1{
    left:0;
    animation-delay:0.366s;
        -o-animation-delay:0.366s;
        -ms-animation-delay:0.366s;
        -webkit-animation-delay:0.366s;
        -moz-animation-delay:0.366s;
}

#fountainG_2{
    left:13px;
    animation-delay:0.4525s;
        -o-animation-delay:0.4525s;
        -ms-animation-delay:0.4525s;
        -webkit-animation-delay:0.4525s;
        -moz-animation-delay:0.4525s;
}

#fountainG_3{
    left:27px;
    animation-delay:0.549s;
        -o-animation-delay:0.549s;
        -ms-animation-delay:0.549s;
        -webkit-animation-delay:0.549s;
        -moz-animation-delay:0.549s;
}

#fountainG_4{
    left:40px;
    animation-delay:0.6355s;
        -o-animation-delay:0.6355s;
        -ms-animation-delay:0.6355s;
        -webkit-animation-delay:0.6355s;
        -moz-animation-delay:0.6355s;
}

#fountainG_5{
    left:54px;
    animation-delay:0.732s;
        -o-animation-delay:0.732s;
        -ms-animation-delay:0.732s;
        -webkit-animation-delay:0.732s;
        -moz-animation-delay:0.732s;
}

#fountainG_6{
    left:67px;
    animation-delay:0.8185s;
        -o-animation-delay:0.8185s;
        -ms-animation-delay:0.8185s;
        -webkit-animation-delay:0.8185s;
        -moz-animation-delay:0.8185s;
}

#fountainG_7{
    left:81px;
    animation-delay:0.905s;
        -o-animation-delay:0.905s;
        -ms-animation-delay:0.905s;
        -webkit-animation-delay:0.905s;
        -moz-animation-delay:0.905s;
}

#fountainG_8{
    left:94px;
    animation-delay:1.0015s;
        -o-animation-delay:1.0015s;
        -ms-animation-delay:1.0015s;
        -webkit-animation-delay:1.0015s;
        -moz-animation-delay:1.0015s;
}



@keyframes bounce_fountainG{
    0%{
    transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
    -o-transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
    -ms-transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
    -webkit-transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
    -moz-transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}
@import "variables.scss";
@import "mixins.scss";

// Global Components

body {
    overflow-x: hidden;
    @include body-font;
}

.text-primary {
    color: $theme-primary !important;
}

p {
    line-height: 1.75;
}

a {
    color: $theme-primary;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: darken($theme-primary, 10%);
    }
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar

#mainNav {
    background-color: $gray-darker;
    .navbar-toggler {
        border: 0;
        color: white;
        background-color: $theme-primary;
        font-size: 12px;
        text-transform: uppercase;
        @include heading-font;
        padding: 13px;
        right: 0;
    }
    .container {
        padding: 0;
        .navbar-brand {
            color: $theme-primary;
            @include script-font;
            &:hover,
            &:focus,
            &:active,
            &.active {
                color: darken($theme-primary, 10%);
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 90%;
                    padding: 0.75em 0;
                    @include heading-font;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: white;
                    &:hover,
                    &.active {
                        color: $theme-primary;
                    }
                }
            }   
        }
    }
}

@media(min-width:992px) {
    #mainNav {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2.3em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 1.1em 1em !important;
                    &[href="#apply"] {
                        background-color: rgba(237, 29, 49, 0.25);
                        border-radius:8%;
                    }
                    &:hover,
                    &.active {
                        color:white!important;
                        background-color: rgba(237, 29, 49, 0.55);
                        border-radius:8%;
                    }
                }
            }
            .nav-header-contact{
                display: none;
            }
        }
        &.navbar-shrink {
            background-color: $gray-darker;
            padding: 0;
            .navbar-brand {
                padding: 12px 0;
                font-size: 1.25em;
            }
        }
    }
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/home-bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
        .header-contact{
            display:none;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                @include serif-font;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}

@media(min-width:992px) {
    header{
        .intro-text{
            .header-contact{
                display:block;
                position:absolute;
                left:0;
                bottom:7%;
                a {
                    padding:0.5em;
                }             
            }
        }
   } 
}

// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0 80px;
    }
}

// Job Requirements Section

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

// Jobs Section

#jobs {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
                background: fade-out(black, .8);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: $theme-primary;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 25px;
            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                @include serif-font;
                font-style: italic;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

// How to apply section
#apply {
    .service {
        &:hover a {
            text-decoration:none;
        }
    }
    .service-fast {
        background-color: #dff0d8;
        border-color: #d0e9c6;        
    }
    .applicationForm {
        background-color: #dff0d8;
        padding:25px 0;
        & textarea {
            height:9rem;
        }
    }
}

// Application Process

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        background-color: #f1f1f1;
        left: 40px;
        margin-left: -1.5px;
    }
    > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: left;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 100;
            background-color: $theme-primary;
            color: white;
            border-radius: 100%;
            border: 7px solid #f1f1f1;
            text-align: center;
            h4 {
                font-size: 10px;
                margin-top: 12px;
                line-height: 14px;
            }
        }
        &.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
            padding: 0 20px 0 100px;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-heading {
        h4 {
            margin-top: 0;
            color: inherit;
            &.subheading {
                text-transform: none;
            }
        }
    }
    .timeline-body {
        > p,
        > ul {
            margin-bottom: 0;
        }
    }
}

@media(min-width:768px) {
    .timeline {
        &:before {
            left: 50%;
        }
        > li {
            margin-bottom: 100px;
            min-height: 100px;
            .timeline-panel {
                width: 41%;
                float: left;
                padding: 0 20px 20px 30px;
                text-align: right;
            }
            .timeline-image {
                width: 100px;
                height: 100px;
                left: 50%;
                margin-left: -50px;
                h4 {
                    font-size: 13px;
                    margin-top: 16px;
                    line-height: 18px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                float: right;
                text-align: left;
                padding: 0 30px 20px 20px;
            }
        }
    }
}

@media(min-width:992px) {
    .timeline {
        > li {
            min-height: 150px;
            .timeline-panel {
                padding: 0 20px 20px;
            }
            .timeline-image {
                width: 150px;
                height: 150px;
                margin-left: -75px;
                h4 {
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
            }
        }
    }
}

@media(min-width:1200px) {
    .timeline {
        > li {
            min-height: 170px;
            .timeline-panel {
                padding: 0 20px 20px 100px;
            }
            .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;
                h4 {
                    margin-top: 40px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 100px 20px 20px;
            }
        }
    }
}

// Team Section

.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        height: 225px;
        width: 225px;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}

// Apply section

.applyForm {
    textarea {
        height: 7.3em;
    }
}

// Partners Aside

aside.partners {
    img {
        margin: 50px auto;
    }
}

// Contact Section

section#contact {
    background-color: $gray-darker;
    background-image: url('../img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        color: white;
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
    .section-subheading {
        color: white;
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    :-moz-placeholder { /* Firefox 18- */
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    :-ms-input-placeholder {  
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    .text-danger {
        color: $theme-danger;
    }
}

// Footer

footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        font-size: 90%;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        font-size: 90%;
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
}

// Social Buttons

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        max-width: none;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: center;
        .modal-body {
            width:100%;
            padding:0.3125em 0.3125em 2em;
            font: 14px/1.42 'Modena_Regular', Droid, Arial, sans-serif;
            ul li {
            text-align:left;
            padding:0 1%;font-weight:normal;
            font-size:1.2em;
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
                &.jobSubtitle {
                    font-weight: bold;
                    padding:0.3125em;
                    text-align:left;
                    font-style:italic;
                    color:#A3A3A3;
                    border-bottom:1px solid #A3A3A3;
                }
                span {
                    font-weight: bold;
                }
            }
        }
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include serif-font;
            font-style: italic;
            font-size: 16px;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:$gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}

///changeee
.fb-FooterBar{display:none;z-index:999;position:fixed;bottom:0;left:0;right:0;text-align:center;background-color:#f2f2f2;padding:0.625em 0.3125em;}
#mainNav .container .navbar-nav .nav-item .flag {position:relative; top:-2px;}
footer a{
    color:#363636;
}

// Clients Aside

section.clients {
    img {
        margin: 50px auto;
    }
}

 #fountainG{
    position:relative;
    width:108px;
    height:13px;
    margin:15px auto 5px;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:rgb(112,157,235);
    width:13px;
    height:13px;
    animation-name:bounce_fountainG;
        -o-animation-name:bounce_fountainG;
        -ms-animation-name:bounce_fountainG;
        -webkit-animation-name:bounce_fountainG;
        -moz-animation-name:bounce_fountainG;
    animation-duration:0.905s;
        -o-animation-duration:0.905s;
        -ms-animation-duration:0.905s;
        -webkit-animation-duration:0.905s;
        -moz-animation-duration:0.905s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
    transform:scale(.3);
        -o-transform:scale(.3);
        -ms-transform:scale(.3);
        -webkit-transform:scale(.3);
        -moz-transform:scale(.3);
    border-radius:9px;
        -o-border-radius:9px;
        -ms-border-radius:9px;
        -webkit-border-radius:9px;
        -moz-border-radius:9px;
}

#fountainG_1{
    left:0;
    animation-delay:0.366s;
        -o-animation-delay:0.366s;
        -ms-animation-delay:0.366s;
        -webkit-animation-delay:0.366s;
        -moz-animation-delay:0.366s;
}

#fountainG_2{
    left:13px;
    animation-delay:0.4525s;
        -o-animation-delay:0.4525s;
        -ms-animation-delay:0.4525s;
        -webkit-animation-delay:0.4525s;
        -moz-animation-delay:0.4525s;
}

#fountainG_3{
    left:27px;
    animation-delay:0.549s;
        -o-animation-delay:0.549s;
        -ms-animation-delay:0.549s;
        -webkit-animation-delay:0.549s;
        -moz-animation-delay:0.549s;
}

#fountainG_4{
    left:40px;
    animation-delay:0.6355s;
        -o-animation-delay:0.6355s;
        -ms-animation-delay:0.6355s;
        -webkit-animation-delay:0.6355s;
        -moz-animation-delay:0.6355s;
}

#fountainG_5{
    left:54px;
    animation-delay:0.732s;
        -o-animation-delay:0.732s;
        -ms-animation-delay:0.732s;
        -webkit-animation-delay:0.732s;
        -moz-animation-delay:0.732s;
}

#fountainG_6{
    left:67px;
    animation-delay:0.8185s;
        -o-animation-delay:0.8185s;
        -ms-animation-delay:0.8185s;
        -webkit-animation-delay:0.8185s;
        -moz-animation-delay:0.8185s;
}

#fountainG_7{
    left:81px;
    animation-delay:0.905s;
        -o-animation-delay:0.905s;
        -ms-animation-delay:0.905s;
        -webkit-animation-delay:0.905s;
        -moz-animation-delay:0.905s;
}

#fountainG_8{
    left:94px;
    animation-delay:1.0015s;
        -o-animation-delay:1.0015s;
        -ms-animation-delay:1.0015s;
        -webkit-animation-delay:1.0015s;
        -moz-animation-delay:1.0015s;
}



@keyframes bounce_fountainG{
    0%{
    transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
    -o-transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
    -ms-transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
    -webkit-transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
    -moz-transform:scale(1);
        background-color:rgb(135,151,232);
    }

    100%{
    -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}
