@import "variables.scss";
@import "mixins.scss";
@import "vendor/bootstrap/css/bootstrap.min.css";
@import "vendor/font-awesome/css/font-awesome.min.css";

// Global Components
body {
    overflow-x: hidden;
    @include body-font;
}

button:hover {
    cursor: pointer;
}
.text-primary {
    color: $theme-primary !important;
}

p {
    line-height: 1.75;
}

a {
    color: $theme-primary;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: darken($theme-primary, 10%);
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

// Restyled Primary Buttons
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.btn-primary {
    @include button-variant(white, $theme-danger, $theme-danger);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(#ffffff, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 15px;
    text-shadow: none;
    text-transform: none;
    border-width: 2px;
}

// Custom Navigation Bar
#mainNav {
    background-color: $gray-darker;
    padding: 0;
    font-size: 90%;
    .navbar-toggler {
        z-index:1;
        border: 2px solid $theme-primary;
        color: $theme-primary;
        font-weight: bold;
        margin-top: 10px;
        outline: none;
        font-size: 12px;
        @include heading-font;
        padding: 8px;
    }
    .container {
        // Temporary navbar container fix until Bootstrap 4 is patched
        @media(max-width: 576px) {
            & {
                width: 100%;
            }
        }
        .navbar-brand {
            padding: 0;
            img {
                max-height: 50px;
                border-radius: 2px;
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 0.75em 0.5em;
                    @include heading-font;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: white;
                    text-transform: none;
                    &.flag {
                        border-top: 1px solid $gray;
                        border-bottom: 1px solid $gray;
                    }
                    &:hover,
                    &.active {
                        background: $gray-dark;
                    }
                }
            }
            .nav-header-contact{
                padding: 0.5em;
                a {
                    color: lighten($theme-primary, 20%);
                }
            }  
        }
    }
    @media(min-width:992px) {
        & {
            background-color: rgba(0, 0, 0, 0.05);
            -webkit-transition: padding 0.3s;
            -moz-transition: padding 0.3s;
            transition: padding 0.3s;
            border: none;
            .navbar-brand {
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
            }
            .navbar-nav {   
                .nav-item {
                    .nav-link {
                        padding: 1.1em 1em !important;
                        margin-bottom: 0;
                        &:hover,
                        &.active {
                            color:white!important;
                            background-color: rgba(237, 29, 49, 0.55);
                            border-radius:8%;
                        }
                    }
                    .flag {
                        border: none!important;
                        padding: 0.9em !important;
                    }
                }
                .nav-header-contact{
                    display: none;
                }
            }
            &.navbar-shrink {
                background-color: $gray-darker;
                padding: 0;
            }
        }
    }
}

// Header
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/logo995x475.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    a[href="#jobs"].btn-xl {
        @include button-variant(#ffffff, $theme-danger, $theme-danger);
        margin-left: 10px;
    }
    .intro-text {
        padding-top: 150px;
        padding-bottom: 150px;
        .intro-lead-in {
            @include body-font;
            font-size: 28px;
            margin-bottom: 0;
            text-transform: none;
        }
        .intro-heading {
            margin-top: -5px;
                /* Cursor */
                .typed-cursor {
                    color: $theme-primary;
                    font-size: 32px;
                }
            @include body-font;
            font-weight: 700;
            margin-bottom: 15px;
            h3 {
                text-transform: none;
                font-size: 24px;
            }
        }
        .header-contact{
            display:none;
        }
    }
    @media(min-width:768px) {
        & {
            .intro-text {
                padding-top: 300px;
                padding-bottom: 300px;
                .intro-lead-in {
                    font-size: 32px;
                }
                .intro-heading {
                    font-weight: 700;
                    margin-bottom: 15px;
                    h3 {
                        font-size: 32px;
                    }
                    /* Cursor */
                    .typed-cursor {
                        font-size: 40px;
                    }
                }
            }
        }
    }
    
    @media(min-width:992px) {
        & {
            .intro-text{
                .header-contact{
                    display:block;
                    position:absolute;
                    left:0;
                    bottom:7%;
                    a {
                        padding:0.5em;
                    }             
                }
            }
       } 
    }
}

// Global Section Styles
section {
    padding: 60px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
    @media(min-width:768px) {
        & {
            padding: 90px 0;
        }
    }
}

// Team Section
.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        height: 225px;
        width: 225px;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
    ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}
}

// Jobs Section
#jobs {
    padding: 0 0 60px;
    .portfolio-item {
        padding-top: 30px;
        &:not(:last-child) {
            border-bottom: 1px solid $gray-lighter;
        }
        @media(min-width: 568px) {
            & {
                border-bottom: none !important;
            }
        }
        .portfolio-link {
            margin: 0 auto;
            display: block;
            position: relative;
            max-width: 350px;
            margin: 0 45px;
            p {
                font-size: 12px;
                margin: 0;
                position: absolute;
                top: 10px;
                right: 0;
                padding: 2px 4px;
                color: white;
                border-radius: 2px;
            }
            .portfolio-hover {
                background: fade-out(black, .8);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: $theme-primary;
                    i {
                        margin-top: -12px;
                    }
                }                
            }            
        }
        .portfolio-caption {
            max-width: 350px;
            margin: 0 auto;
            text-align: center;
            padding: 25px;
            h4 {
                text-transform: none;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

// Jobs modals
.portfolio-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        max-width: none;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: center;
        .modal-body {
            width:100%;
            padding:0.3125em 0.3125em 2em;
            font: 14px/1.42 'Modena_Regular', Droid, Arial, sans-serif;
            ul li {
            text-align:left;
            padding:0 1%;font-weight:normal;
            font-size:1.2em;
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
                &.jobSubtitle {
                    font-weight: bold;
                    padding:0.3125em;
                    text-align:left;
                    color:#A3A3A3;
                    border-bottom:1px solid $gray-light;
                }
                span {
                    font-weight: bold;
                }
            }
        }
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include serif-font;
            font-style: italic;
            font-size: 16px;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:$gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

// How to apply section
#apply {
    .service {
        &:hover a {
            text-decoration:none;
        }
    }
    // .service-fast {
    //     background-color: #dff0d8;
    //     border-color: #d0e9c6;        
    // }
    // .applicationForm {
    //     background-color: #dff0d8;
    //     padding:25px 0;
    //     & textarea {
    //         height:9rem;
    //     }
    // }
}

// Application Process
#journey {
    .service-heading {
        margin: 15px 0;
        text-transform: none;
    }
    #applicationProcess {
        margin-top: 60px;
        .timeline {
            list-style: none;
            padding: 0;
            position: relative;
            &:before {
                top: 0;
                bottom: 0;
                position: absolute;
                content: "";
                width: 2px;
                background-color: #f1f1f1;
                left: 40px;
                margin-left: -1.5px;
            }
            > li {
                margin-bottom: 50px;
                position: relative;
                min-height: 50px;
                &:before,
                &:after {
                    content: " ";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                .timeline-panel {
                    width: 100%;
                    float: right;
                    padding: 0 20px 0 100px;
                    position: relative;
                    text-align: left;
                    &:before {
                        border-left-width: 0;
                        border-right-width: 15px;
                        left: -15px;
                        right: auto;
                    }
                    &:after {
                        border-left-width: 0;
                        border-right-width: 14px;
                        left: -14px;
                        right: auto;
                    }
                }
                .timeline-image {
                    left: 0;
                    margin-left: 0;
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    z-index: 100;
                    background-color: $theme-primary;
                    color: white;
                    border-radius: 100%;
                    border: 7px solid #f1f1f1;
                    text-align: center;
                    h4 {
                        font-size: 10px;
                        margin-top: 12px;
                        line-height: 14px;
                    }
                }
                &.timeline-inverted > .timeline-panel {
                    float: right;
                    text-align: left;
                    padding: 0 20px 0 100px;
                    &:before {
                        border-left-width: 0;
                        border-right-width: 15px;
                        left: -15px;
                        right: auto;
                    }
                    &:after {
                        border-left-width: 0;
                        border-right-width: 14px;
                        left: -14px;
                        right: auto;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .timeline-heading {
                h4 {
                    margin-top: 0;
                    color: inherit;
                    &.subheading {
                        text-transform: none;
                    }
                }
            }
            .timeline-body {
                > p,
                > ul {
                    margin-bottom: 0;
                }
            }
            @media(min-width:768px) {
                & {
                    &:before {
                        left: 50%;
                    }
                    > li {
                        margin-bottom: 100px;
                        min-height: 100px;
                        .timeline-panel {
                            width: 41%;
                            float: left;
                            padding: 0 20px 20px 30px;
                            text-align: right;
                        }
                        .timeline-image {
                            width: 100px;
                            height: 100px;
                            left: 50%;
                            margin-left: -50px;
                            h4 {
                                font-size: 13px;
                                margin-top: 16px;
                                line-height: 18px;
                            }
                        }
                        &.timeline-inverted > .timeline-panel {
                            float: right;
                            text-align: left;
                            padding: 0 30px 20px 20px;
                        }
                    }
                }
            }
            @media(min-width:992px) {
                & {
                    > li {
                        min-height: 150px;
                        .timeline-panel {
                            padding: 0 20px 20px;
                        }
                        .timeline-image {
                            width: 150px;
                            height: 150px;
                            margin-left: -75px;
                            h4 {
                                font-size: 18px;
                                margin-top: 30px;
                                line-height: 26px;
                            }
                        }
                        &.timeline-inverted > .timeline-panel {
                            padding: 0 20px 20px;
                        }
                    }
                }
            }
            @media(min-width:1200px) {
                & {
                    > li {
                        min-height: 170px;
                        .timeline-panel {
                            padding: 0 20px 20px 100px;
                        }
                        .timeline-image {
                            width: 170px;
                            height: 170px;
                            margin-left: -85px;
                            h4 {
                                margin-top: 40px;
                            }
                        }
                        &.timeline-inverted > .timeline-panel {
                            padding: 0 100px 20px 20px;
                        }
                    }
                }
            }
        }
    }
}


// Apply section
#apply {
    color: $gray-dark;
    text-align: center;
    .apply-header {
        a {
            color: $gray-dark;
        }
        i {
            color: lighten($theme-danger, 10%) !important;
            margin-bottom: 10px;
        }
    }
    .applyForm {
        margin-top: 90px;
        a {
            color: lighten($theme-danger, 10%) !important;
        }
        h2 {
            text-transform: none;
        }
        textarea {
            height: 7.3em;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0 0 0 5px;
        }
        .downloads {
            display: flex;
            justify-content: center;
            .downloads-item a {
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 2;
                padding: 5px;
                border-radius: 2px;
                i {
                    color: $theme-primary;
                    border: 1px solid lighten($theme-primary, 10%);
                    border-radius: 50%;
                    padding: 15px;
                }
                strong {
                    color: darken($theme-primary, 10%);
                }
                &:hover,
                &:active,
                &:focus {
                    background: #f1f1f1;
                    text-decoration: none;
                }
            }
        }
    }
}

// Partners section
#partners {
    .partners-heading {
        margin-bottom: 30px;
    }
    .partners-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .partners-logo {
            width: 170px;
            max-width: 90%;
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content:center;
        }
    }
}

// Contact Section
#contact {
    background-color: $gray-darker;
    background-image: url('../img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        color: white;
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
    .section-subheading {
        color: white;
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    :-moz-placeholder { /* Firefox 18- */
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    :-ms-input-placeholder {  
       @include heading-font;
       font-weight: 700;
       color: $gray;
    }
    .text-danger {
        color: $theme-danger;
    }
    .contact-footer {
        margin-top: 45px;
        padding: 0 15px;
        text-align: center;
        .footer-contacts {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .footer-contact {
                    margin-bottom: 15px;
                a {
                    color: white;
                }
            }
        }
    }
}

// Footer section
.footer-main {
    background: lighten($gray-light, 40%);
    padding-top: 0;
    padding-bottom: 60px;
    .links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 30px 0;
        .links-group {
            margin: 20px 5px;
            width: 45%;
            max-width: 150px;
            align-self: flex-start;
            h3 {
                text-transform: none;
                font-size: 14px;
            }
            li {
                margin: 8px auto;
                line-height: 1;
            }
            li a {
                font-size: 12px;
                color: $gray;
            }
        }
    }
    .copyright {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        a {
            color: $gray;
        }
        i {
            font-size: 18px;
        }
    }
}

// Highlight Color Customization
::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}

/// Facebook like bar
.fb-FooterBar{display:none;z-index:999;position:fixed;bottom:0;left:0;right:0;text-align:center;background-color:#f2f2f2;padding:0.625em 0.3125em;}
